.divisor {
  width: calc(100% - 2rem);
  background: repeating-linear-gradient(
    -45deg,
    var(--global_main_color) 0 10px,
    #1a1a1a 10px 20px               
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;

  h1 {
    font-family: var(--global_fonte);
    font-size: 2rem;
    font-weight: 900;
    color: #1a1a1a; 
    background-color: var(--global_main_color);
    padding: 0.2rem 4rem;
    border-radius: 2rem;
  }
}
