.listenNow{
    padding: 2rem;
    width: calc(100% - 4rem);
    background-color: var(--global_bg_color);
}
@media (min-width: 1280px) {
    .listenNow{
        display: flex;
        justify-content: center;
        align-items: center;
        iframe{
            width: 40%;
        }
    }
}